* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

form {
  max-width: 600px;
  margin: 20px auto;
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 5px;
    &:has(input[type="checkbox"], input[type="radio"]) {
      flex-direction: row;
    }
    input[type="file"] {
      border: 0.8px solid rgb(118, 118, 118);
      border-radius: 3px;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
    }
  }

  fieldset {
    /* border: none; */
  }
  input,
  textarea,
  select {
    padding: 5px;
    outline: none;
    color: red;
    &:focus-visible {
      /* border-color: red; */
    }
  }

  input,
  textarea {
    &::placeholder {
      color: blueviolet;
    }
  }

  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    accent-color: red;
  }

  textarea {
    resize: none;
    height: 150px;
    width: 100%;
  }
  button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
  }
}
